.fundo-roxo {
  --background: linear-gradient(135deg, #6a11cb, #8e44ad);
}

.input-cadastro {
  --background: #f9f9f9;
  --border-radius: 12px;
  margin-bottom: 1rem;
  padding-left: 8px;

  /* Força a cor do texto e placeholder */
  --color: #000;
  --placeholder-color: #666;
}


.altura-total {
  height: 100%;
}

.card-cadastro {
  background: #fff;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 8px 18px rgba(0,0,0,0.2);
  text-align: center;
}

.titulo-cadastro {
  font-size: 1.8rem;
  font-weight: bold;
  color: #6a11cb;
  margin-bottom: 1.5rem;
}

.input-cadastro {
  --background: #f9f9f9;
  --border-radius: 12px;
  margin-bottom: 1rem;
  padding-left: 8px;
}

.botao-cadastro {
  --background: #6a11cb;
  --background-hover: #8e44ad;
  --color: #ffffff;
  margin-top: 1.5rem;
  font-weight: bold;
  box-shadow: 0 6px 14px rgba(106, 17, 203, 0.4);
}
