<!-- ion-content é relativo a tag body do html -->


    <ion-header>
        <ion-toolbar>
            <ion-title>Cine Maline</ion-title>
        </ion-toolbar>
    </ion-header>

<ion-content [fullscreen]="true">

    <ion-label class="ion-justify-content-center">
        <h1>Filmes em cartaz</h1>
    </ion-label>

        <ion-row>

            <ion-col size="6">
                <ion-card>
                    <ion-item>
                        <img src="https://carrefourbr.vtexassets.com/arquivos/ids/183177047/image-0.jpg?v=638740086610570000" alt="">
                    </ion-item>
                    <ion-item>
                        <ion-label>Moana 2</ion-label>
                    </ion-item>
                    <ion-button color="tertiary">Comprar ingresso</ion-button>
                </ion-card>
                                
            </ion-col>
            
            
            <ion-col size="6">
                <ion-card>
                    <ion-item>
                        <img class="" src="https://ingresso-a.akamaihd.net/prd/img/movie/um-filme-minecraft/6a574e9c-040b-4612-ae44-785318a27193.webp" alt="">
                    </ion-item>
                    <ion-item>
                        <ion-label>Minecraft</ion-label>
                    </ion-item>
                    <ion-button color="tertiary">Comprar ingresso</ion-button>
                </ion-card>
                                
            </ion-col>    
        </ion-row>

        <ion-row>

            <ion-col size="6">
                <ion-card>
                    <ion-item>
                        <img src="https://carrefourbr.vtexassets.com/arquivos/ids/183177047/image-0.jpg?v=638740086610570000" alt="">
                    </ion-item>
                    <ion-item>
                        <ion-label>Moana 2</ion-label>
                    </ion-item>
                    <ion-button color="tertiary">Comprar ingresso</ion-button>
                </ion-card>
                                
            </ion-col>
            
            
            <ion-col size="6">
                <ion-card>
                    <ion-item>
                        <img src="https://ingresso-a.akamaihd.net/prd/img/movie/um-filme-minecraft/6a574e9c-040b-4612-ae44-785318a27193.webp" alt="">
                    </ion-item>
                    <ion-item>
                        <ion-label>Minecraft</ion-label>
                    </ion-item>
                    <ion-button color="tertiary">Comprar ingresso</ion-button>
                </ion-card>
                                
            </ion-col>    
        </ion-row>

        <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-lg="6">
                <ion-list>
                    <ion-item>
                        <ion-label>Preços</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Inteira 30,00 reais</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Meia 15,00 reais</ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title>Aline Ferreira Cordeiro</ion-title>
    </ion-toolbar>
</ion-footer>