<app-navbar></app-navbar>

<ion-content class="feed-container">
  <div class="feed-title">
    <h2>📰 Posts de Todos os Usuários</h2>
    <p>Confira as atualizações mais recentes da nossa comunidade!</p>
  </div>

  <!-- LISTA DE POSTS -->
  <div class="posts-container">
    <div *ngFor="let post of posts" class="post-card">
      <div class="post-header">
        <img *ngIf="post.user.picture" [src]="post.user.picture" class="post-user-picture">
        <div>
          <strong class="post-user-name">{{ post.user.name }}</strong><br>
          <small class="post-date">{{ post.created_at | date:'short' }}</small>
        </div>
      </div>

      <p class="post-description">{{ post.description }}</p>

      <img *ngIf="post.picture" [src]="post.picture" class="post-image">
    </div>
  </div>

</ion-content>
