.bg-img{
    background-image: url('https://static.eldiario.es/clip/257630bd-d4e5-4896-a0f7-ad658af487f8_16-9-discover-aspect-ratio_default_0_x2323y658.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.margin-top{
    margin-top: 20vh;
}